# Specify which files/folders to ignore in commits

*.py~
*.pyc
*~
*\#
._*
*.tar.xz
CMSSW*
fullsim_cmssw/Condor/*.cc
*.root
Plots/
madgraph/models/*mZp*
madgraph/models/*mPhi*
madgraph/input_files/*mZp*
madgraph/input_files/*mPhi*
external/miniconda*