# Specify which files/folders to ignore in commits

*.py~
*.pyc
*~
*\#
._*
*.tar.xz
CMSSW*
ebhal.cc
*.root
Plots/
madgraph/models/*SVJ_s_*_mZp*
madgraph/models/*SVJ_t_mPhi*
madgraph/input_files/*SVJ_s_*_mZp*
madgraph/input_files/*SVJ_t_mPhi*