# Specify which files/folders to ignore in commits

*py~
*pyc
*~
*\#
._*
CMSSW*
ebhal.cc
*.root
external/pip
gridpacks
Plots/
MG_models/DMsimp_SVJ_s_spin1_mZp*
MG_models/DMsimp_SVJ_t_mPhi*
MG_gridpack_files/DMsimp_SVJ_s_spin1_mZp*
MG_gridpack_files/DMsimp_SVJ_t_mPhi*